# Compose project
COMPOSE_PROJECT_NAME=axe-hack-city

# API
ENVIRONMENT=development
API_PORT=8800 # Using an uncommon port number
DATABASE_URL=postgresql+psycopg2://axehack:axehack@postgres:5432/axe_hack_city
REDIS_URL=redis://redis:6379/0

# Postgres
POSTGRES_DB=axe_hack_city
POSTGRES_USER=axehack
POSTGRES_PASSWORD=axehack
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=axe-hack-city-assets
MINIO_SECURE=false
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@axehackcity.local
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
